/* 按钮组件 */
button[button], a[button] {
    display: inline-block;
    padding: 0px 16px;
    line-height: 32px;
    margin-bottom: 4px;
    background: rgb( var( --r1 ) );
    color: rgb( var( --r0 ) );
    font-size: 14px;
    border: none;
    border-radius: var( --radius );
    cursor: pointer;
    opacity: 0.92;
}
button[button]:hover, a[button]:hover { opacity: 1; }
button[button].stop, a[button].stop { opacity: 0.6; pointer-events: none; }
button[button] i, a[button] i { color: rgb( var( --r0 ) ); font-size: 14px; }
button[button] i.icon, a[button] i.icon { margin-left: -4px; margin-right: 8px; }
/* 布局 */
div[layoutTwoLeft] { --width: 240px; display: flex; }
div[layoutTwoLeft] [layout]:first-child { width: 100px; flex: 0 0 var( --width ); }
div[layoutTwoLeft] [layout]:last-child { min-width: 0; flex: 1; }
div[layoutTwoRight] { --width: 240px; display: flex; }
div[layoutTwoRight] [layout]:first-child { min-width: 0; flex: 1; }
div[layoutTwoRight] [layout]:last-child { width: 100px; flex: 0 0 var( --width ); }
div[layoutEqual] { display: flex; }
div[layoutEqual] [layout] { flex: 1; }
/* 系统动态组件库 */
div[ViewUnit] div.unit {
    display: block;
    width: var( --vw );
    height: var( --vh );
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 80ms;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
div[ViewUnit] div.unit.active {
    opacity: 1;
    pointer-events: all;
}
/* Toast 提示组件 */
div[ViewUnit] div.unit[toast] {
    --background: var( --r4 );
    --color: var( --r4c );
    pointer-events: none;
}
div[ViewUnit] div.unit[toast].error {
    --background: var( --r5 );
    --color: var( --r5c );
}
div[ViewUnit] div.unit[toast] div.content {
    --height: 32px;
    display: inline-block;
    width: auto;
    margin-top: calc( ( var( --height ) + 4px ) * -1 );
    padding-right: 16px;
    background: rgb( var( --r6 ) );
    font-size: 14px;
    line-height: var( --height );
    border-radius: var( --radius );
    border: 1px solid rgb( var( --background ) );
    overflow: hidden;
    box-sizing: border-box;
    transition: 140ms;
}
div[ViewUnit] div.unit[toast].active div.content { margin-top: 100px; }
div[ViewUnit] div.unit[toast].toastOpen div.content {
    animation: toastOpen 180ms 1 linear;
}@keyframes toastOpen{
    0%{ margin-top: calc( ( var( --height ) + 4px ) * -1 ); }
    70%{ margin-top: 110px; }
    85%{ margin-top: 90px; }
    100%{ margin-top: 100px; }
}
div[ViewUnit] div.unit[toast] div.content i.icon {
    --size: var( --height );
    float: left;
    margin-right: 8px;
    background: rgb( var( --background ) );
    color: rgb( var( --color ) );
    font-size: 16px;
}
div[ViewUnit] div.unit[toast] div.content span {
    display: inline-block;
    max-width: calc( 100vw - var( --height ) - 8px - 50px );
}
/* Loader 加载组件 */
div[ViewUnit] div.unit[load] div.content {
    width: 100%;
    height: 100%;
    background: rgb( var( --r0 ), 0.8 );
    padding-bottom: 120px;
    box-sizing: border-box;
}
div[ViewUnit] div.unit[load]  div.content div.loader {
  width: fit-content;
  height: auto;
  background: radial-gradient(1.13em at 50% 1.6em,rgb( var( --r3 ) ) 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text, radial-gradient(1.13em at 50% -0.8em,#0000 99%,rgb( var( --r3 ) ) 101%) 50% .8em/3.2em 100% repeat-x  text;
  font-size: 40px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  animation: loaderAnimate1 2s linear infinite;
  -webkit-text-stroke: 1px rgb( var( --r3 ) );
}
div[ViewUnit] div.unit[load] div.content div.loader:before {
  content: "Loading";
}
@keyframes loaderAnimate1 {
  to { background-position: calc( 50% + 1.6em ) 0, calc( 50% + 3.2em ) .8em; }
}
div.windowLoaderBox:not( div[ViewUnit] div.unit[windowLoad] div.windowLoaderBox ) {
    width: 100%;
    height: 100%;
    background: rgb( var( --r0 ), 0.8 );
    pointer-events: all;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
div.windowLoader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(rgb( var( --r3 ) ) 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: loaderAnimate2 1s infinite linear;
}
@keyframes loaderAnimate2 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}
/* 系统卡片 */
div[card] {
    --size: 48px;
    --left: 140px;
    width: 100%;
    height: auto;
    max-height: var( --size );
    margin-bottom: 16px;
    background: rgb( var( --r6 ) );
    border-radius: var( --radius );
    border: 1px solid rgb( var( --r3 ), 0.25 );
    overflow: hidden;
    transition: 200ms;
}
div[card].active { max-height: 220vh; }
div[card] div[cardTitle], div[card] div[cardContent] {
    box-sizing: border-box;
}
div[card] div[cardTitle] {
    padding: 0px 4px;
    font-size: 16px;
    line-height: var( --size );
    font-weight: bold;
    border-bottom: 1px solid rgb( var( --r1 ), 0.25 );
    cursor: pointer;
}
div[card] div[cardTitle] * { vertical-align: baseline; }
div[card] div[cardTitle] i.operate {
    float: right;
}
/* 表单控件 */
div[input] {
    --size: 36px;
    --background: var( --r3 );
    --color: var( --r3c );
    display: block;
    margin-bottom: 16px;
}
div[input].error {
    --background: var( --r5 );
    --color: var( --r5c );
}
div[input] div.title {
    padding-left: 4px;
    margin-bottom: 2px;
}
div[input] div.title p.title, div[input] div.title p.title i {
    font-size: 14px;
}
div[input] div.content {
    position: relative;
}
div[input] div.content div.inputHint {
    width: 100%;
    padding: 4px 8px;
    margin-bottom: 4px;
    font-size: 12px;
    vertical-align: middle;
    background: rgb( var( --r6 ) );
    border: 1px solid rgb( var( --background ), 0.25 );
    border-radius: var( --radius );
    box-sizing: border-box;
}
div[input] div.content .input {
    width: 100%;
    height: var( --size );
    padding: 0px 16px;
    background: rgb( var( --r6 ) );
    font-size: var( --fontSize );
    text-align: left;
    border-radius: var( --radius );
    border: 1px solid rgb( var( --background ), 0.25 );
    box-sizing: border-box;
}
div[input] div.content select.input { cursor: pointer; }
div[input] div.content textarea.input {
    width: 100%;
    max-width: 100%;
    height: 80px;
    min-height: 80px;
    padding: 8px;
    resize: vertical;
    box-sizing: border-box;
}
div[input] div.content textarea.input.code {
    height: 240px;
    background: rgb( 40, 44, 52 ) !important;
    font-size: 13px;
    color: rgb( 171, 178, 191 ) !important;
    font-family: 'code', Courier, monospace;
}
div[input] div.content .input::placeholder { color: rgb( var( --r1 ), 0.25 ); font-size: 14px !important; }
div[input] div.content textarea.input.code::placeholder { color: rgb( 171, 178, 191, 0.25 ); font-size: 13px !important; }
div[input] div.content .input,
div[input] div.content .input::-webkit-inner-spin-button,
div[input] div.content .input::-webkit-outer-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}
div[input].hasIcon div.content .input { padding-left: calc( var( --size ) + 8px ); }
div[input].hasMethod div.content .input { padding-right: calc( var( --size ) + 8px ); }
div[input] div.content i.inputIcon {
    background: rgb( var( --background ) );
    color: rgb( var( --color ) );
    border-radius: var( --radius ) 0px 0px var( --radius );
    position: absolute;
    top: 0;
    left: 0;
}
div[input] div.content i.inputMethod {
    background: rgb( var( --background ) );
    color: rgb( var( --color ) );
    border-radius: 0px var( --radius ) var( --radius ) 0px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
div[input] div.content ul.tips {
    padding-left: 16px;
    margin-top: 4px;
    list-style-type: circle;
}
div[input] div.content ul.tips li {
    font-size: 12px;
    color: rgb( var( --r1 ), 0.75 );
}
div[input].columnTwoForce {
    display: flex;
    gap: 8px;
}
div[input].columnTwoForce div.title {
    width: var( --left );
    padding: 0px;
    margin: 0px;
}
div[input].columnTwoForce div.title p {
    line-height: var( --size );
}
div[input].columnTwoForce div.content { flex: 1; }
@media ( min-width: 580px ) {
    div[input].columnTwo {
        display: flex;
        gap: 8px;
    }
    div[input].columnTwo div.title {
        width: var( --left );
        padding: 0px;
        margin: 0px;
    }
    div[input].columnTwo div.title p {
        text-align: right;
        line-height: var( --size );
    }
    div[input].columnTwo div.content { flex: 1; }
}
div[input] div.content div.inputPhone {
    display: flex;
    gap: 0px;
}
div[input] div.content div.inputPhone div.inputPhoneQv {
    width: 100px;
}
div[input] div.content div.inputPhone div.inputPhoneQv .input {
    border-right: none;
    border-radius: var( --radius ) 0px 0px var( --radius );
}
div[input] div.content div.inputPhone div.inputPhoneNumber {
    flex: 1;
}
div[input] div.content div.inputPhone div.inputPhoneNumber .input {
    padding-left: 16px;
    border-radius: 0px var( --radius ) var( --radius ) 0px;
}
div[input] div.content div.switch {
    --buttonSize: 26px;
    padding: calc( ( var( --size ) - var( --buttonSize ) ) / 2 ) 0px;
    box-sizing: border-box;
}
div[input].columnOne div.content div.switch { text-align: right; }
@media ( max-width: 580px ) {
    div[input] div.content div.switch { text-align: right; }
}
div.switch-button {
    --buttonSize: 26px;
    display: inline-block;
}
div.switch-button input {
    display: none;
}
div.switch-button input+label {
    display: inline-block;
    min-width: calc( var( --buttonSize ) * 2.4 );
    height: var( --buttonSize );
    line-height: 20px;
    background-color: rgb( var( --r0 ) );
    vertical-align: middle;
    border-radius: var( --radius );
    border: 1px solid rgb( var( --r3 ), 0.25 );
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.36s;
    -webkit-transition: all 0.36s;
    position: relative;
}
div.switch-button input+label:hover {
    border-color: rgb( var( --r3 ) );
}
div.switch-button input:checked+label {
    background-color: rgb( var( --r3 ) );
}
div.switch-button input+label::before {
    content: "";
    display: block;
    width: calc( var( --buttonSize ) - 6px - 2px );
    height: calc( var( --buttonSize ) - 6px - 2px );
    border-radius: var( --radius );
    background-color: rgb( var( --r3 ) );
    cursor: pointer;
    transition: all 0.36s cubic-bezier( 0.78, 0.14, 0.15, 0.86 );
    -webkit-transition: all 0.36s cubic-bezier( 0.78, 0.14, 0.15, 0.86 );
    position: absolute;
    left: 3px;
    top: 3px;
}
div.switch-button input:checked+label::before {
    background-color: rgb( var( --r0 ) );
    transition: all 0.36s cubic-bezier( 0.78, 0.14, 0.15, 0.86 );
    -webkit-transition: all 0.36s cubic-bezier( 0.78, 0.14, 0.15, 0.86 );
    left: calc( ( var( --buttonSize ) * 2.4 ) - ( var( --buttonSize ) - 6px - 2px ) - 5px );
}
div[form] {
    display: block;
}
div[form] form div.formButton {
    margin-top: 32px;
    box-sizing: border-box;
}
@media ( min-width: 580px ) {
    div[form].columnTwo form div.formButton { padding-left: calc( var( --left ) + 8px ); }
}
div[input] div.content div.inputUpload {
    --height: 64px;
    height: auto;
    padding: 0px;
    background: none !important;
    border-radius: none;
    border: none;
}
div[input] div.content div.inputUpload ul.uploadFiles {
    display: block;
    padding: 0px;
}
div[input] div.content div.inputUpload ul.uploadFiles li {
    display: inline-block;
}
div[input] div.content div.inputUpload ul.uploadFiles li label {
    display: inline-block;
    width: var( --height );
    height: var( --height );
    vertical-align: middle;
    border-radius: var( --radius );
    border: 1px solid rgb( var( --background ), 0.25 );
    box-sizing: border-box;
    cursor: pointer;
}
div[input] div.content div.inputUpload ul.uploadFiles li label i.icon {
    --size: calc( var( --height ) - 2px );
    font-size: 24px;
    font-weight: bold;
}
div[input] div.content div.inputUpload ul.uploadFiles li.uploadFileItem {
    --uploading: 0%;
    position: inline-block;
    width: var( --height );
    height: var( --height );
    margin-bottom: 4px;
    background: rgb( var( --r0 ) );
    vertical-align: middle;
    border-radius: var( --radius );
    border: 1px solid rgb( var( --background ), 0.25 );
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
div[input] div.content div.inputUpload ul.uploadFiles li.uploadFileItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
div[input] div.content div.inputUpload ul.uploadFiles li.uploadFileItem div.uploadDelete { display: none; }
div[input] div.content div.inputUpload ul.uploadFiles li.uploadFileItem:not( .uploading ):hover div.uploadDelete { display: block; }
div[input] div.content div.inputUpload ul.uploadFiles li.uploadFileItem div.uploadDelete {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
div[input] div.content div.inputUpload ul.uploadFiles li.uploadFileItem div.uploadDelete p {
    display: block;
    width: 100%;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid rgb( var( --background ), 0.25 );
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
div[input] div.content div.inputUpload ul.uploadFiles li.uploadFileItem.uploading img { opacity: 0.25; }
div[input] div.content div.inputUpload ul.uploadFiles li.uploadFileItem.uploading::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb( var( --r0 ) );
    position: absolute;
    top: calc( -1 * var( --uploading ) );
    left: 0;
    z-index: 2;
}
/* Markdown 编辑器 */
div.markdownEditor {
    --toolHeight: 40px;
    width: 100%;
    height: auto;
    background: rgb( var( --r6 ) );
    border-radius: var( --radius );
    border: 1px solid rgb( var( --background ), 0.25 );
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
div.markdownEditor.full {
    width: var( --vw );
    height: var( --vh );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
div.markdownEditor textarea {
    width: 100%;
    height: 400px;
    padding: 16px;
    background: none;
    font-size: var( --fontSize );
    border: none;
    resize: none;
    box-sizing: border-box;
}
div.markdownEditor textarea::placeholder { color: rgb( var( --r1 ), 0.25 ); font-size: 14px !important; }
div.markdownEditor.full textarea {
    height: calc( var( --vh ) - var( --toolHeight ) - 31px );
    padding: 8px 16px;
}
div.markdownEditor ul.markdownToolbar {
    --iconSize: calc( var( --toolHeight ) - 12px );
    width: 100%;
    height: auto;
    padding: 6px 16px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgb( var( --background ), 0.25 );
    list-style: none;
    box-sizing: border-box;
}
div.markdownEditor ul.markdownToolbar li {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 8px;
    vertical-align: middle;
    line-height: var( --iconSize );
    box-sizing: border-box;
}
div.markdownEditor ul.markdownToolbar li i {
    --size: var( --iconSize );
    font-weight: bold;
    border-radius: var( --radius );
    border: 1px solid rgb( var( --background ), 0.25 );
    cursor: pointer;
    box-sizing: border-box;
}
div.markdownEditor ul.markdownToolbar li i:hover { background: rgb( var( --r3 ), 0.2 ); }
div.markdownEditor ul.markdownToolbar li div.titles {
    display: block;
    max-height: 0px;
    background: rgb( var( --r6 ) );
    transition: 200ms;
    border-radius: var( --radius );
    border: none;
    overflow: hidden;
    position: absolute;
    top: -4px;
    left: -4px;
}
div.markdownEditor ul.markdownToolbar li div.titles.active {
    max-height: 240px;
    border: 1px solid rgb( var( --background ), 0.25 );
}
div.markdownEditor ul.markdownToolbar li div.titles i { margin: 2px 4px; }
div.markdownEditor ul.markdownToolbar li div.titles i:first-child {
    margin-top: 4px;
}
div.markdownEditor ul.markdownToolbar li div.titles i:last-child {
    margin-bottom: 4px;
}
div.markdownEditor div.markdownInfo {
    padding: 8px 16px;
    font-size: 12px;
    border-top: 1px solid rgb( var( --background ), 0.25 );
}
div.markdownEditor div.markdownInfo span.record {
    float: right;
}
div.markdownEditor div.markdownInfo span.record a {
    color: rgb( var( --r2 ) ) !important;
    cursor: pointer;
}
div.markdownEditor div.markdownPreview {
    --closePreview: 30px;
    width: 100%;
    height: 100%;
    background: rgb( var( --r0 ) );
    transition: 200ms;
    position: absolute;
    bottom: -101%;
    left: 0px;
}
div.markdownEditor div.markdownPreview.active {
    bottom: 0px;
}
div.markdownEditor div.markdownPreview div.closePreview {
    width: 100%;
    height: var( --closePreview );
    text-align: center;
    border-bottom: 1px solid rgb( var( --background ), 0.25 );
    box-shadow: 0px 0px 5px rgb( var( --background ), 0.25 );
    cursor: pointer;
}
div.markdownEditor div.markdownPreview div.closePreview i {
    --size: var( --closePreview );
    font-size: 24px;
}
div.markdownEditor div.markdownPreview div.previewContent {
    width: calc( 100% - 24px );
    max-width: 640px;
    height: calc( 100% - var( --closePreview ) - 24px );
    margin: 12px auto;
}
/* Markdown 展示 */
div[markdown] {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
div[markdown] p { margin-bottom: 8px; }
div[markdown] h1, div[markdown] h2, div[markdown] h3, div[markdown] h4, div[markdown] h5, div[markdown] h6 {
    margin-top: 16px;
    margin-bottom: 4px;
}
div[markdown] ul, div[markdown] ol {
    padding-left: 24px;
    margin: 8px 0px;
}
div[markdown] ul ul,
div[markdown] ul ol,
div[markdown] ol ul,
div[markdown] ol ol {
    margin: 0px;
}
div[markdown] hr { --gap: 24px; }
div[markdown] a { color: rgb( var( --r2 ) ) !important; text-decoration: underline; }
div[markdown] blockquote {
    display: block;
    padding: 8px 8px 8px 16px;
    margin: 8px 0px;
    background: rgb( var( --r3 ), 0.15 );
    border-left: 4px solid rgb( var( --r3 ) );
}
div[markdown] div.showImg {
    width: 100%;
    margin: 8px 0px;
    text-align: center;
}
div[markdown] div.showImg img{
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: var( --radius );
    object-fit: cover;
}
div[markdown] div.showImg p {
    margin: 4px 0px 0px 0px;
    font-size: 12px;
    color: rgb( var( --r1 ), 0.5 );
}
div[markdown] code.codeBlock, div[markdown] pre.code {
    background: rgb( 40, 44, 52 ) !important;
    font-size: 13px;
    color: rgb( 171, 178, 191 ) !important;
    font-family: 'code', Courier, monospace;
}
div[markdown] code.codeBlock {
    padding: 1px 6px;
    line-height: 19px;
    word-break: break-all;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    vertical-align: middle;
    border-radius: var( --radius );
}
div[markdown] div.showCode {
    --header: 28px;
    background: rgb( 40, 44, 52 );
    margin: 8px 0px;
    padding: 0px 8px 8px 8px;
    border-radius: var( --radius );
    overflow: hidden;
}
div[markdown] pre.code {
    height: auto;
    min-height: auto !important;
    padding: 4px;
    margin-top: 8px;
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
div[markdown] pre.code::-webkit-scrollbar {
    display: none;
}
div[markdown] div.showCode div.showCodeHeader {
    width: 100%;
    height: var( --header );
    padding: 0px;
    border-bottom: 1px solid rgb( 171, 178, 191, 0.25 );
    box-sizing: border-box;
}
div[markdown] div.showCode div.showCodeHeader i {
    --size: var( --header );
    float: right;
    color: rgb( 171, 178, 191 ) !important;
}
div[markdown] div.showCode div.showCodeHeader div {
    --size: 10px;
    display: inline-block;
    width: var( --size );
    height: var( --size );
    margin: calc( ( var( --header ) - var( --size ) ) / 2 ) 2px;
    border-radius: 90px;
}
div[markdown] div.showCode div.showCodeHeader div:nth-child( 1 ) { background: rgb( 255, 95, 87 ); }
div[markdown] div.showCode div.showCodeHeader div:nth-child( 2 ) { background: rgb( 254, 188, 46 ); }
div[markdown] div.showCode div.showCodeHeader div:nth-child( 3 ) { background: rgb( 38, 201, 65 ); }