{{!!
    $books = [
        'index' => [ 'name' => 'Readme.md', 'file' => 'Readme.md' ],
        'directory' => [ 'name' => '目录说明', 'file' => 'support/System/storage/handbook/directory.md' ],
        'permissions' => [ 'name' => '插件及权限', 'file' => 'support/System/storage/handbook/permissions.md' ],
        'view' => [ 'name' => '视图渲染器', 'file' => 'support/System/storage/handbook/view.md' ],
        'method' => [ 'name' => '方法声明', 'file' => 'support/System/storage/handbook/method.md' ],
        'preset' => [ 'name' => '预设说明', 'file' => 'support/System/storage/handbook/preset.md' ]
    ];
    $handbook = $request->get['handbook'] ?? null;
    if ( empty( $handbook ) ) { $handbook = 'index'; }
    $handbook = file_exists( $books[$handbook]['file'] ) ? file_get_contents( $books[$handbook]['file'] ) : 'Null';
!!}}
<style>
    div#handbook div.book {
        border-radius: var( --radius );
    }
</style>
<div id="handbook">
    <x-card class="title" title="更多内容" icon="bi-book">
        @foreach( $books as $id => $item ):
        <a href="#view=admin.develop.handbook&handbook={{$id}}" class="r3" button>{{$item['name']}}</a>
        @endforeach
    </x-card>
    <div class="r6 book padding24">{{htmlspecialchars( $handbook )}}</div>
</div>
<script>
    $( 'div#handbook div.book' ).html( tc.markdown.render( tc.markdown.protect( $( 'div#handbook div.book' ).html(), true ) ) );
</script>