<style>
    div#icons div.title {
        padding: 16px;
        margin-bottom: 8px;
        border-radius: var( --radius );
    }
    div#icons ul {
        display: flex;
        padding: 0px;
        list-style: none;
        flex-wrap: wrap;
    }
    div#icons ul li {
        --size: 48px;
        display: inline-block;
        width: 80px;
        height: 68px;
        flex: 1 0 auto;
        padding: 0px 8px 0px 8px;
        margin: 2px;
        background: rgb( var( --r3 ), 0.25 );
        text-align: center;
        border-radius: var( --radius );
        box-sizing: border-box;
    }
    div#icons ul li:hover { background: rgb( var( --r3 ), 0.5 ); }
    div#icons ul li i {
        font-size: 20px;
        font-weight: bold;
    }
</style>
<div id="icons">
    <div class="title r3">
        <h5>Bootstrap Icons [ <span class="count">0</span> Pie ]</h5>
    </div>
    <x-input type="string" name="searchIcon" icss="r0" hint="Search ..."></x-input>
    <ul></ul>
</div>
<script>
    var view = {
        icons: [],
        init: function() {
            this.renderIcons( this.getAllIcons() );
            // 搜索框变化事件
            $( 'div#icons input[name="searchIcon"]' ).on( 'input', function() {
                const value = $( this ).val().toLowerCase();
                if ( empty( value ) ) {
                    view.renderIcons( view.icons );
                }else {
                    const icons = view.icons.filter(item => item.includes( value ));
                    view.renderIcons( icons );
                }
            });
        },
        getAllIcons: function() {
            const biClasses = new Set();
            for ( const stylesheet of document.styleSheets ) {
                try {
                    for ( const rule of stylesheet.cssRules || [] ) {
                        if ( rule.selectorText ) {
                            const matches = rule.selectorText.match(/\.bi-[\w-]+/g);
                            if ( matches ) {
                                matches.forEach( cls => biClasses.add( cls.substring( 1 ) ) );
                            }
                        }
                    }
                }catch( error ) {
                    tc.unit.toast( ['error.unknown'], true );
                }
            }
            const icons = Array.from( biClasses );
            if ( is_array( icons ) ) { this.icons = icons; }
            return this.icons;
        },
        renderIcons: function( icons ) {
            const $box = $( 'div#icons ul' ); $box.html( '' );
            for( const icon of icons ) {
                $box.append( `
                    <li class="copy" data-clipboard-text="${icon}">
                        <i class="${icon} font4 block"></i>
                        <p class="font7 opa25 more">${icon}</p>
                    </li>
                ` );
            }
            $( 'div#icons div.title span.count' ).text( icons.length );
        }
    };
    view.init();
</script>